html
    head
        title Movies n reviews
        link(rel="stylesheet", href="/css/style.css")
        link(rel="stylesheet" href="/css/all.min.css")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap" rel="stylesheet")
        script(src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js")
        script(src="https://unpkg.com/axios/dist/axios.min.js")
    body
        header#header
            a#navBarTitle(href="/")
                h1 Movies n reviews
            div#navButtons
                select#genreSelect.disabled(name="genres")
                    if genreList
                        each genre in genreList
                            option(value=`${genre.id}`) #{genre.name}
                input#movieQueryInput(placeholder="Search Movie by Title" name="search")
                button#movieSubmit Search
                

                select#searchTypeSelect(name="searchType")
                    option(default value="Title") Title
                    option(value="Actor") Actor
                    option(value="Genre") Genre

                button#adminButton.disabled DashBoard
                button#userPageButton.disabled
                button#logOutButton.disabled Log Out

                button#loginButton Login
                button#signUpButton Sign Up
        block content
        footer
            script( type="module" src="/js/main.js")