html
    head
        title Movies n reviews
        link(rel="stylesheet", href="/css/style.css")
    body
        header
            a(href="/")
                h1 Movies n reviews
            div(id="navButtons")
                button
                    p Login
                button
                    p Sign Up
        block content
        footer
            block scripts