html
    head
        meta(content="width=device-width, initial-scale=1" name="viewport")
        title Movies n reviews
        link(rel="stylesheet", href="/css/style.css")
        link(rel="stylesheet" href="/css/all.min.css")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap" rel="stylesheet")
        script(src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js")
        script(src="https://unpkg.com/axios/dist/axios.min.js")
    body
        header.header
            a.nav-bar-title(href="/")
                h1 Movies n reviews
            div.nav-buttons
                select#genreSelect.disabled(name="genres")
                    if genreList
                        each genre in genreList
                            option(value=`${genre.id}`) #{genre.name}
                input#movieQueryInput.search-bar(placeholder="Search Movie by Title" name="search")
                
                select#searchTypeSelect(name="searchType")
                    option(default value="Title") Title
                    option(value="Actor") Actor
                    option(value="Genre") Genre
                button#movieSubmit.search-button 
                    i.fas.fa-search
                .regular-nav
                    button#adminButton.disabled Admin Dashboard
                    button#userPageButton.disabled
                    button#logOutButton.disabled
                        i.fas.fa-sign-out-alt

                    button#loginButton Login
                    button#signUpButton Sign Up
        div.floating-nav
            button#adminButtonFloat.disabled Admin Dashboard
            button#userPageButtonFloat.disabled
            button#logOutButtonFloat.disabled
                i.fas.fa-sign-out-alt

            button#loginButtonFloat Login
            button#signUpButtonFloat Sign Up
        block content
        footer
            script( type="module" src="/js/main.js")