html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/* font-size: 100%; */
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    margin: 0;
    padding: 0;
}

i{ font-family: 'FontAwesome'; display: block; }

div, p, a {
    font-family: 'Markazi Text', sans-serif;
    font-size: 20px;
}

a {
    text-decoration: none;
    font-size: 100%;
}

button,
input[type="submit"] {
    border: none;
    background: none;
    color: none;
    cursor: pointer;
    font: inherit;
}

h3 {
    font-weight: bolder;
}

button {
    cursor: pointer;
    display: inline-block;
    margin: 5px;
    text-decoration: none;
    background-color: rgb(91, 184, 212);
    border: rgb(91, 184, 212) solid 3px;
    color: white;
    box-shadow: 0px 0px 0 rgb(91, 184, 192),
                0px 1px 0 rgb(71,164,172),
                0px 2px 0 rgb(51,144,152),
                0px 3px 0 rgb(31,124,132),
                0px 4px 0 rgb(11,104,112),
                0px 5px 0 rgb(0,84,92),
                0px 6px 0 rgb(0,64,72),
                0px 7px 0 rgb(0,44,52),
                0px 8px 7px rgba(0,0,0,0.6),
                0px 8px 1px rgba(0,0,0,0.5),
                0px 0px 7px rgba(0,0,0,.2);
    transition: box-shadow 0.2s, transform 0.2s;
    padding: 0;
    outline: none;
}

button:hover {
    box-shadow: 0px 0px 0 rgb(161,-50,-11),
    0px 1px 0 rgb(71,164,172),
    0px 2px 0 rgb(11,104,112),
    0px 3px 0 rgb(0,44,52),
    0px 4px 3px rgba(0,0,0,0.6),
    0px 4px 1px rgba(0,0,0,0.5),
    0px 0px 3px rgba(0,0,0,.2);
    transform: translateY(4px);
}

p {
    margin-bottom: 16px;
}

/* Header */
.header {
    display: flex;
    background-color: rgb(240, 240, 240);
    align-items: center;
    height: 4.8vh;
    border-bottom: rgb(221, 221, 221) solid 1.5px;
    margin-bottom: 10px;
    justify-content: space-evenly;
    width: 100%;
}

.nav-buttons {
    display: flex;
    align-items: center;
    justify-items: flex-end;
    justify-content: flex-end;
    height: 100%;
    align-content: space-around;
}

.nav-buttons button {
    font-size: 1.5vh;
    transform: translateY(-4px);
    padding: 5px;
}

.nav-buttons button:hover {
    transform: translateY(2px);
}

.nav-buttons input, select {
    font-size: 1.5vh;
    padding: 5px;
}

.search-button i::before {
    font-size: 1.5vh;
    transform: translateY(-5px);
    padding: 5px;
}

@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        height: 8vh;
    }
}

.floating-nav{
    z-index: 99;
    position: fixed;
    display: none;
    width: 100%;
    bottom: 0;
    font-size: 4vw;
    height: 5vh;
    align-items: center;
    justify-content: center;
    background-color: #EEE;
    -webkit-box-shadow: 0px -6px 6px 0px rgba(0,0,0,0.27); 
    box-shadow: 0px -6px 6px 0px rgba(0,0,0,0.27);
}

@media screen and (max-width: 600px) {
    .header {
        position: sticky;
        top: 0;
        -webkit-box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.27); 
        box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.27);
    }
    .regular-nav {
        display: none;
    }
    .floating-nav{
        display: flex;
    }
}

.nav-bar-title {
    text-decoration: none;
    color: unset;
    margin-left: 5px;
    font-family: 'Roboto Slab', serif;
    font-size: 1.5vh;
    font-weight: bold;
    justify-content: flex-start;
    justify-self: flex-start;
}

.movie-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.search-bar {
    margin: 0px 5px;
}

.hide-show {
    transition: opacity 0.5s;
}

.hide {
    opacity: 0;
}

.show {
    opacity: 1;
}

.title-wrap {
    display: flex;
    align-items: flex-end;
    min-height: 80px;
}

.movie-title {
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 25px;
    margin-bottom: 5px;
    min-height: 30px;
}

.movie-card {
    display: block;
    width: 20%;
    margin: 5px;
    margin-top: 50px;
}

@media screen and (max-width: 768px) {
    .movie-card {
        width: 25%;
    }
}

@media screen and (max-width: 600px) {
    .movie-card {
        width: 100%;
    }
}

.movie-card  p{
    display: block;
}

.movie-description {
    /* height: 50px; */
    display: block;
}

.movie-poster {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 7.5%;
    transition: all 0.1s;
    cursor: pointer;
}

.movie-poster:hover {
    width: 100%;
    margin-bottom: 0;
}

.overall-rating {
    display: flex; 
    flex-direction: column;
    margin-bottom: 30px;
}

.rating-stack {
    display: flex;
    flex-direction: column;
}

.show-review-button {
    display: block;
    width: 100%;
    margin: 0px;
}

.rating-amount {
    line-height: 32px;
    margin: 0px;
}

.reviews-mask {
    overflow: scroll;
    overflow-x: hidden;
}

.reviews-list {
    transition: transform 0.5s;
}

.reviews-mask {
    transition: height 0.5s;
}

.user-review {
    background-color: #EEE;
    border: 15px solid #EEE;
    margin: 15px 0px;
}

.user-review p {
    margin: 0;
}

.ratingStar i {
    text-shadow: 1px 1px 0px #DDD;
    font-weight: 1000;
}

.ratingStar i.fa.fa-star {
    color: #FFD700;
}

.ratingStar i.fa.fa-star-half-alt {
    color: #FFD700;
}

.ratingStar i.far.fa-star {
    color: black;
}

.stars-editable {
    cursor: pointer;
    display: inline;
}

.disabled {
    display: none;
}

span.nav-splitter {
    width: 100%;
}

/* Movie Detail Page */
em{
    font-style: italic;
    font-size: 23pt;
    transform:scale(4,1);
    color: rgb(90, 90, 90);
}

th, td {
    border: 2px solid black;
    padding: 2px;
}
th {
    background-color: lightgray;
}
tr {
    cursor: pointer;
}
tr:nth-child(even) {
    background-color: rgb(91, 184, 212);
}
tr:hover {
    background-color: rgb(131, 224, 252);
}

#dashboard {
    display: flex;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #EEE;
    min-height: 700px;
}

#search-panel .table-wrapper {
    max-height: 800px;
    overflow-y: scroll;
}

.movie-page-container{
    display: flex;
    align-self: center;
    margin: auto;
    padding: 25px;
    flex-direction: row;
    width: 60% !important;
    /* background-color: rgba(128, 128, 128, 0.157); */
}

.movie-poster-single {
    width: fit-content;
    margin: 1rem;
}

.movie-information-wrapper {
    display: flex;
    width: 50%;
    flex-direction: column;
    width: fit-content;
    margin: 1rem;
}

.movie-under-title-info {
    width: fit-content;
}

.movie-name {
    width: fit-content;
}

.movie-name h2 {
    font-weight: bold;
}

.movie-tag-line {
    width: fit-content;
}

.movie-overview {
    width: 80%;
}

@media screen and (max-width: 950px) {
    .movie-page-container {
        flex-direction: column;
    }
    
    .movie-page-container > * {
        width: 100%;
    }
}

.errorMessage {
    color: red;
    margin-left: 10px;
}
.validMessage {
    color: green;
    margin-left: 10px;
}

.disable-scroll {
    overflow: visible;
}

/* Form Begin */
form.formWrapper {
    min-width: 320px;
    max-width: 450px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(240, 240, 240);
    box-shadow: 0 10px 20px -8px rgba(128, 128, 128);
}
form.formWrapper h2 {
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}
form.formWrapper label {
    display: inline-block;
    width: 25%;
    height: 30px;
    line-height: 30px;
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
}
form.formWrapper input:not([type=submit]) {
    display: inline-block;
    width: calc(75% - 16px - 10px); /* remaining space - valid message (constant width of 16px with left margin of 10px) */
    height: 30px;
    padding-left: 5px;
    margin-bottom: 6px;
    font-family: 'Markazi Text', sans-serif;
    font-size: 20px;
}
form.formWrapper .validMessage {
    display: inline-block;
    width: 16px;
    font-family: 'Markazi Text', sans-serif;
    font-size: 20px;
}
form.formWrapper .errorMessage {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 6px;
    margin-left: 0;
    font-family: 'Markazi Text', sans-serif;
    font-size: 20px;
}
form.formWrapper input[type=submit] {
    padding: 5px;

    display: block;
    margin: 14px auto 6px auto;

    background-color: aqua;
    font-family: 'Markazi Text', sans-serif;
    font-size: 20px;

    /* button */
    cursor: pointer;
    /* display: inline-block; */
    /* margin: 5px; */
    text-decoration: none;
    background-color: rgb(91, 184, 212);
    border: rgb(91, 184, 212) solid 3px;
    color: white;
    box-shadow: 0px 0px 0 rgb(91 184 192), 0px 1px 0 rgb(71 164 172), 0px 2px 0 rgb(51 144 152), 0px 3px 0 rgb(31 124 132), 0px 4px 0 rgb(11 104 112), 0px 5px 0 rgb(0 84 92), 0px 6px 0 rgb(0 64 72), 0px 7px 0 rgb(0 44 52), 0px 8px 7px rgb(0 0 0 / 60%), 0px 8px 1px rgb(0 0 0 / 50%), 0px 0px 7px rgb(0 0 0 / 20%);
    transition: box-shadow 0.2s, transform 0.2s;
    padding: 0;
    outline: none;

    /* .nav-buttons button */
    transform: translateY(-4px);
}
form.formWrapper input[type=submit]:hover {
    /* button:hover */
    box-shadow: 0px 0px 0 rgb(161 0 0), 0px 1px 0 rgb(71 164 172), 0px 2px 0 rgb(11 104 112), 0px 3px 0 rgb(0 44 52), 0px 4px 3px rgb(0 0 0 / 60%), 0px 4px 1px rgb(0 0 0 / 50%), 0px 0px 3px rgb(0 0 0 / 20%);
    transform: translateY(4px);
}
form.formWrapper > .errorMessage:last-child {
    margin-bottom: 0;
    margin-top: 6px;
}
form.formWrapper p {
    margin: 0;
    text-align: center;
}
/* Form End */